In [2]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('AP_DATA.csv')

In [4]:
df.head()

,RANK,NEET_ROLL_NO,SCORE,SX,CAT,LOC,PHASE,COLLEGE,EWS
0,1503,1206060037,680,M,BCD,AU,P1,"Siddhartha Medical College, Vijayawada",NO
1,2599,1209010031,671,F,OC,AU,P1,"Siddhartha Medical College, Vijayawada",NO
2,5738,1205060436,655,M,OC,AU,P1,"Siddhartha Medical College, Vijayawada",NO
3,8695,1205090412,644,M,OC,APNL,P1,"Siddhartha Medical College, Vijayawada",NO
4,11748,1205050763,635,F,OC,SVU,P1,"Siddhartha Medical College, Vijayawada",NO

In [5]:
df.isna().sum()

RANK            0
NEET_ROLL_NO    0
SCORE           0
SX              0
CAT             0
LOC             0
PHASE           0
COLLEGE         0
EWS             0
dtype: int64

In [6]:
df.nunique()

RANK            4114
NEET_ROLL_NO    4114
SCORE            282
SX                 2
CAT               38
LOC               26
PHASE              6
COLLEGE           37
EWS                1
dtype: int64

In [7]:
df.shape

(7469, 9)

In [14]:

# Assuming df is your DataFrame with the "category" feature
# Filter out rows with incorrect values in the "category" feature
correct_values = ['BCD', 'OC', 'BCA', 'BCB', 'BCE', 'SC', 'ST']
df = df[df['CAT'].isin(correct_values)]

# Now df contains only the rows where the "category" feature has the desired values

In [15]:
df['CAT'].unique()

array(['BCD', 'OC', 'BCA', 'BCB', 'BCE', 'SC', 'ST'], dtype=object)

In [16]:

# Assuming df is your DataFrame with the "category" feature
# Filter out rows with incorrect values in the "category" feature
correct_values = ['AU', 'APNL', 'SVU', 'OU', 'NL', 'OUAPNL']
df = df[df['LOC'].isin(correct_values)]

# Now df contains only the rows where the "category" feature has the desired values

In [17]:
df['LOC'].unique()

array(['AU', 'APNL', 'SVU', 'OU', 'NL', 'OUAPNL'], dtype=object)

In [10]:
df['PHASE'].unique()

array(['P1', 'P2', 'MopUp', 'MopUp1', 'NCCRound', 'NCC2'], dtype=object)